* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f2f2f2;
}

.titulo {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    margin: 5px 10px;
    margin-bottom: 20px;
}

.sidebar {
    width: 350px;
    background-color: #ffc107;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para a seção de perfil na sidebar */
.sidebar .profile {
    text-align: center;
    padding: 15px;
}

.sidebar .profile img {
    width: 120px; /* Ajuste o tamanho da imagem se necessário */
    height: 120px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #666;
    object-fit: cover;
}

.sidebar .profile h2 {
    margin: 10px 0;
    color: #fff; /* Cor do texto do nome */
    font-size: 1.5rem;
}

.sidebar .profile h3 {
    margin: 5px 0;
    color: #ff5722; /* Cor para o cargo e nível */
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar .profile p {
    margin: 5px 0;
    color: #ffffff; /* Cor para o texto da quantidade de XP */
    font-size: 1rem;
}

.sidebar .profile a.button {
    display: block;
    margin-top: 10px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.sidebar .profile a.button:hover {
    background-color: #ff1c2b;
}

.sidebar .profile a.button-admin {
    background-color: #4caf50; /* Cor específica para o botão do painel */
}

.sidebar .profile a.button-admin:hover {
    background-color: #388e3c;
}


.sidebar .profile {
    text-align: center;
    cursor: pointer;
}

.sidebar .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px #333 solid;
    background-color: #666;
    object-fit: cover;
}

.sidebar h2 {
    margin-top: 5px;
    color: #ffffff;
    font-size: 1.5rem;
}

.sidebar h3 {
    color: #f17840;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.sidebar nav ul li {
    margin-bottom: 15px;
    width: 100%;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 15px 35px; 
    border-radius: 4px;
    background-color: #ff5722;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
    background-color: #e64a19;
}


.sidebar .logo {
    width: 250px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.main-content h2 {
    font-size: 2rem;
    color: #333;
}

.main-content p {
    font-size: 1.2rem;
    color: #666;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    overflow: hidden; 
}

.card #desc {
    text-align: left !important;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imgcardapio {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.button-flex {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.button-flex form {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.buttoncard {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff5722;
    margin: 0 2px;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttoncard:hover {
    background-color: #e64a19;
    transform: translateY(-2px);
}

.textcard {
    font-size: 1.2rem;
    color: #333;
}

.textcard h1 {
    font-size: 1.3rem;
}

.profile .button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.profile .button:hover {
    background-color: #ff1c2b;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    background-color: #ff5722;
    color: white;
    padding: 15px 20px;
    border-radius: 7px;
}

.titulo {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    margin: 5px 10px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container label.title {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.container input[type="text"],
.container input[type="number"],
.container input[type="file"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.container input[type="file"] {
    margin-bottom: 15px;
}

.container .btn-submit {
    background-color: #ff5722;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    width: 100%;
}

.container .btn-submit:hover {
    background-color: #e64a19;
}

/* Carrinho */
.carrinho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9;
}

.carrinho-header {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.carrinho-list {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.carrinho-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.carrinho-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.carrinho-list ul li:last-child {
    border-bottom: none;
}

.carrinho-item-name {
    font-size: 1.2rem;
    color: #333;
}

.carrinho-item-price {
    font-size: 1.2rem;
    color: #666;
}

.carrinho-item-quantity {
    font-size: 1rem;
    color: #666;
}

.finalizar-compra {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.finalizar-compra input {
    text-decoration: none;
    background-color: #ff5722;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 0;
    cursor: pointer;
}

.finalizar-compra input:hover {
    background-color: #e64a19;
    transform: translateY(-2px);
}

.form-btn {
    display: flex;
}

.button-carrinho {
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
}

.button-add {
    background-color: #10a35f;
    margin-left: 5px;
}

.button-remove {
    background-color: #e6222f !important;
}

.success {
    display: block;
    background-color: #10a35f;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 7px;
}

.error {
    display: block;
    background-color: #e6222f;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 7px;
}

/* PEDIDOS */
.pedidos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.pedidos-container h2 {
    margin-bottom: 5px;
}

.pedidos-table {
    width: 100%;
    border-collapse: collapse;
}

.pedidos-table th, .pedidos-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pedidos-table th {
    background-color:  #e96e49;
    color: white;
    text-align: center;
}

.pedidos-container form {
    display: flex;

}

.pedidos-table input,
.pedidos-container select,
.pedidos-table input:focus,
.pedidos-container select:focus {
    width: 100%;
    padding: 5px 2px;
    outline: none;
    cursor: pointer;
}

.pedidos-table input {
    background-color: #10a35f;
    color: white;
    border: 0;
}

.pedidos-container ul {
    margin-left: 15px;

}

.perfil-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.perfil-container h2 {
    text-align: center;
}

.perfil-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfil-container label {
    font-weight: bold;
}

.perfil-container input[type="text"],
.perfil-container input[type="password"],
.perfil-container input[type="file"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.perfil-container input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.perfil-container input[type="submit"]:hover {
    background-color: #0056b3;
}
