body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(255, 136, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60%;
    width: 30%;
    max-width: 10000px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #af814c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a09245;
}

.title{
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.logo {
    position: fixed; /* Define a posição fixa para que a logo fique fixa na tela */
    top: 20px; /* Distância do topo da janela */
    left: 20px; /* Distância da esquerda da janela */
    height: 30%; /* Altura da logo em relação ao tamanho da janela */
    width: 17%; /* Largura da logo em relação ao tamanho da janela */
    z-index: 1000; /* Z-index para garantir que a logo fique acima de outros elementos */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
